body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 40px;
    background: #1e293b;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.sobre, .projetos {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

h2 {
    border-bottom: 2px solid #38bdf8;
    padding-bottom: 10px;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
    background: #334155;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background: #38bdf8;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
}
.header {
    background: #1e293b;
    padding: 30px;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.perfil img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #38bdf8;
}
.imagem-projeto {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}